<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->

<!--
 ~ ClickOnce 배포에 사용되는 프로파일입니다.
 ~ 이 파일에는 빌드에 필요한 속성들이 일부 누락되어 있습니다.
 ~ 예를 들어 버전을 나타내는 ApplicationVersion 등입니다.
 ~ 이는 의도된 것으로, IDE가 아닌 msbuild 명령을 통해 빌드하여
 ~ 해당 속성들을 외부로부터 주입받는 상황을 상정하였기 때문입니다.
 ~ 그러한 속성들은 release.ps1 파일에서 언급됩니다.
 ~ 따라서 이 파일에는 외부로부터 전달받지 않는, 
 ~ 꼭 필요한 속성들만 나열되어 있습니다.
 -->
<Project>
    <PropertyGroup>
        <ApplicationRevision>3</ApplicationRevision>
        <BootstrapperEnabled>true</BootstrapperEnabled>
        <PublishProtocol>ClickOnce</PublishProtocol>
        <GenerateManifests>true</GenerateManifests>
        <Configuration>Release</Configuration>
        <Platform>Any CPU</Platform>
        <Install>true</Install>
        <InstallFrom>Web</InstallFrom>
        <InstallUrl>http://dist.potados.com/FocusTimer/</InstallUrl>
        <IsWebBootstrapper>true</IsWebBootstrapper>
        <MapFileExtensions>true</MapFileExtensions>
        <OpenBrowserOnPublish>false</OpenBrowserOnPublish>
        <SignatureAlgorithm>(none)</SignatureAlgorithm>
        <SignManifests>false</SignManifests>
        <SkipPublishVerification>false</SkipPublishVerification>
        <UpdateEnabled>true</UpdateEnabled>
        <UpdateMode>Foreground</UpdateMode>
        <UpdateRequired>true</UpdateRequired>
        <ErrorReportUrl>https://tumblbug.com/worldmoment_focus</ErrorReportUrl>
        <ProductName>Focus Timer</ProductName>
        <PublisherName>World Moment</PublisherName>
        <SuiteName>Productivity</SuiteName>
        <SupportUrl>https://tumblbug.com/worldmoment_focus</SupportUrl>
        <TargetCulture>ko-KR</TargetCulture>
        <CreateDesktopShortcut>true</CreateDesktopShortcut>
    </PropertyGroup>
    <ItemGroup>
        <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.6.0.x64">
            <Install>true</Install>
            <ProductName>.NET Desktop Runtime 6.0.16 (x64)</ProductName>
        </BootstrapperPackage>
    </ItemGroup>
</Project>